@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');
body {
  font-family: 'Noto Sans Display', sans-serif;
}

h1 {
  font-weight: 500 !important;
}

p {
  font-weight: 400 !important;
  font-style: normal;
  font-size: 16px;
  line-height: 24px ;
}
<<<<<<< HEAD

.green-handle::-webkit-scrollbar {
  width: 1em;
}
 
.green-handle::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.green-handle::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
=======
.green-handle::-webkit-slider-thumb {
  background: green;
}

>>>>>>> c533511256cf62fea4bf26839bd04089c802cd7e
